{% extends 'base.html' %}
{% load static %}
{% block content %}
        <br>
        <br>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <span {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                {% include 'messages/message.html' %}
                            {% endif %}
                    </span>
                {% endfor %}
            </ul><br>
        {% endif %}
      <div class="container">
          <div class="button_cont" align="center"><a class="example_e" href="{% url 'project_upload' %}" rel="nofollow noopener">Upload Project</a></div>
      </div>
      <hr>
      <div class="container">
          <div class="button_cont" align="center"><a class="example_e" href="{% url 'thesis_upload' %}" rel="nofollow noopener">Upload Thesis</a></div>
      </div>
{% endblock %}