{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
        <h1 style="text-align: center">Project Details</h1>
    <table class="table" >
          <thead class="thead-dark">
            <tr>
              <th scope="col">Project Name</th>
              <th scope="col">Description</th>
              <th scope="col">Project File</th>
              <th scope="col">Thesis File</th>
            </tr>
          </thead>
        {% for project in projects %}
          <tbody>
            <tr>
              <th scope="row">{{ project.project_name }}</th>
              <td>{{ project.description }}</td>
              <td><a href="{{ project.project_file.url }}">Download</a></td>
              <td><a href="{{ project.document.url }}">Download</a></td>
            </tr>
          </tbody>
        {% endfor %}
        </table>
    </div>

</div>
{% endblock %}