{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
        <h1 style="text-align: center">Project Details</h1>
    <table class="table" >
          <thead class="thead-dark">
            <tr>
              <th scope="col">Thesis Title</th>
              <th scope="col">Description</th>
              <th scope="col">Thesis File</th>
            </tr>
          </thead>
        {% for thes in thesis %}
          <tbody>
            <tr>
              <th scope="row">{{ thes.thesis_title }}</th>
              <td>{{ thes.description }}</td>
              <td><a href="{{ thes.thesis_file.url }}">Download</a></td>
            </tr>
          </tbody>
        {% endfor %}
        </table>
    </div>
</div>
{% endblock %}