{% load static %}
<div class="login-form login-form-left">
    <div class="agile-row">
        <h3>Student Register form</h3>
        <div class="login-agileits-top">
            <form action="{% url 'index' %}" method="POST">{% csrf_token %}
                <input type="text" class="name" name="s_name" Placeholder="Full Name" required=""/>
                <input type="email" class="email" name="s_email" Placeholder="Email" required=""/>
                <input type="text" class="number" name="s_id" Placeholder="Student ID" required=""/>
                <input type="password" class="password" name="s_password" Placeholder="Password" required=""/>
                <input type="password" class="password" name="s_re_password" Placeholder="Re-type Password" required=""/>
                <div class="login-check">
                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i> I Accept to the <a href="#">Terms &amp; Conditions</a></label>
                </div>
                <input type="submit" value="Register">
            </form>
        </div>
    </div>
</div>