{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
            Project-Thesis Archive
        {% endblock %}
    </title>
    <!-- css files -->
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="all">
    <!-- //css files -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
<!-- section -->
<section class="register">
	<div class="header">
		<div class="logo">
			<a href="{% url 'index' %}">Project-Thesis Archive</a>
		</div>
		<div class="clear"></div>
	</div>
	<div class="register-full">
		<div class="register-left">
			<div class="register">
				<h1>Welcome to</h1>
				<h2>Project-Thesis Archive System</h2>
				<p>All the projects and thesis files in one system. </p>
			</div>
		</div>
		<div class="register-right">
			<div class="register-in middle">
				<a href="{% url 'teacher_reg' %}">Teacher register here »</a>
			</div>
            <div class="register-in">
				<a href="{% url 'student_reg' %}">Student register here »</a>
			</div>
			<div class="register-in">
				<a href="{% url 'student_login' %}">Student login here »</a>
			</div>

			<div class="register-in middle">
				<a href="{% url 'teacher_login' %}">Teacher login here »</a>
			</div>
			<div class="clear"> </div>
		</div>
	<div class="clear"> </div>
	</div>
</section>
<!-- //section -->
<div class="container">
    <div class="row">
        {% for project in projects %}
        <div class="col-lg-4 col-md-4">
            <h3 style="text-align: center; color: white" >Projects</h3>
            <div class="card" style="width: 18">
              <img class="card-img-top" src="{{ project.thumbnail.url }}" alt="">
              <div class="card-body bg-dark">
                <h5 class="card-title text-white"> {{ project.project_name }} </h5>
                <p class="card-text text-white">{{ project.description }}</p>
                <a href="{% url 'view_project_details' %}" class="btn  btn-secondary">View Details</a>
              </div>
            </div>
        </div>
        {% endfor %}
        {% for thes in thesis %}
        <div class="col-lg-4 col-md-4">
            <h3 style="text-align: center; color: white" >Thesis Paper</h3>
           <div class="card" style="width: 18">
              <img class="card-img-top" src="{{ thes.thumbnail.url }}" alt="">
              <div class="card-body bg-dark">
                <h5 class="card-title text-white">{{ thes.thesis_title }}</h5>
                <p class="card-text text-white">{{ thes.description }}</p>
                <a href="{% url 'view_thesis_details' %}" class="btn  btn-secondary">View Details</a>
              </div>
            </div>
        </div>
        {% endfor %}

{#        <div class="col-lg-4 col-md-4">#}
{#           <div class="card" style="width: 18rem;">#}
{#              <img class="card-img-top" src="{% static 'images/student.jpg' %}" alt="Card image cap">#}
{#              <div class="card-body bg-dark">#}
{#                <h5 class="card-title text-white">Card title</h5>#}
{#                <p class="card-text text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>#}
{#                <a href="#" class="btn btn-secondary">Go somewhere</a>#}
{#              </div>#}
{#            </div>#}
{#        </div>#}
    </div>
    </div>
	<!-- copyright -->
	<p class="agile-copyright">© 2020 Department of Software Engineering,Daffodil International University.</p>
	<!-- //copyright -->
</body>
</html>