{% load static %}
{% block content %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student Login | Project-Thesis Archive</title>
    <link href="{% static 'css/style-auth.css' %}" type="text/css" rel="stylesheet" media="all">
</head>
<body>
<!-- main -->
<div class="main-w3layouts wrapper">
    <h1>Student Register form</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <form action="#" method="post">
            {% csrf_token %}
                {% for field in student_reg_form %}
                      <p>
                        {% for error in field.errors %}
                          <p style="color: red">{{ error }}</p>
                        {% endfor %}
                      </p>
		        {% endfor %}
                {% if student_reg_form.non_field_errors %}
                    <div style="color: red">
                      <p>{{student_reg_form.non_field_errors}}</p>
                    </div>
                {% endif %}
                  {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                        <h2><span style="color: greenyellow">Registration Successful </span><a href="{% url 'teacher_login' %}">Click here </a><span style="color: greenyellow">to login.</span></h2>
                                    {% else %}
                                        <span style="color: #CC3434">{{ message }}</span>
                                    {% endif %}
                            </li>
                        {% endfor %}
                    </ul><br>
                {% endif %}
                <br>
                <input class="text" type="text" name="username" placeholder="Username" required="">
                <input class="text email" type="email" name="email" placeholder="Email" required="">
                <input class="text number" type="text"  name="student_id" Placeholder="Student ID" required=""/>
                <input class="text" type="password" name="password1" placeholder="Password" required="">
                <input class="text w3lpass" type="password" name="password2" placeholder="Confirm Password" required="">
                <div class="wthree-text">
                    <label class="anim">
                        <input type="checkbox" class="checkbox" required="">
                        <span style="color:white;">I Agree To The Terms & Conditions</span>
                    </label>
                    <div class="clear"> </div>
                </div>
                <input type="submit" value="SIGNUP">

            </form>
        </div>
    </div>
</div>
<!-- //main -->
<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
</body>
</html>
{% endblock %}