{% extends 'teacher_base.html' %}
{% block title %}Change Password | {{ block.super }}{% endblock %}
{% load static %}
{% block content %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'teacher_dashboard' %}">Teacher Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Change Password</li>
</ol>
    {% include 'messages/message.html' %}
    <h1 style="text-align: center" class="text-uppercase">Change Password</h1>
    <div class="container">
    <div class="col-lg-6 col-md-6 mx-auto ml-auto">
            <form method="post"> {% csrf_token %}
                {{ form.as_p }}
                  <div class="" style="padding-left: 70px; padding-bottom: 10px">
                      <input type="submit" class="btn btn-outline-dark form-control col-lg-4" value="Change Password">
                  </div>
            </form>
        </div>
    </div>
{% endblock %}