{% extends 'base.html' %}
{% load static %}
{% block content %}
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Overview</li>
          </ol>
          <br>
          <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Student ID</th>
              <th scope="col">Section</th>
              <th scope="col">Description</th>
              <th scope="col">Project File</th>
              <th scope="col">Document</th>
            </tr>
          </thead>
          <tbody>
          {% for project in projects %}
             <tr>
                  <td>{{ project.student_id }}</td>
                  <td>{{ project.section }}</td>
                  <td>{{ project.description }}</td>
                  <td><a href="{{ project.project_file }}">Download</a></td>
                  <td><a href="{{ project.document }}">Download</a></td>
             </tr>
          {% endfor %}
          </tbody>
        </table>
{% endblock %}