{% extends 'base.html' %}
{% load static %}
{% block content %}
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Overview</li>
          </ol>
          <br>
          <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Student ID</th>
              <th scope="col">Student Name</th>
              <th scope="col">Section</th>
              <th scope="col">Description</th>
              <th scope="col">Project File</th>
              <th scope="col">Document</th>
            </tr>
          </thead>
          <tbody>
             <tr>
                  <th scope="row"></th>
                  <td></td>
                  <td></td>
                  <td><a href="">Download</a></td>
                  <td><a href="">Download</a></td>
             </tr>
          </tbody>
        </table>
{% endblock %}