{% load static %}
{% block content %}
<!-- Sidebar -->
      <ul class="sidebar navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            <span>Student Information</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <img src="{% static 'images/student.jpg' %}" class="center">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span><strong>Name:</strong> Md. Ashiqur Rahaman Dipto</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-id-card" aria-hidden="true"></i>
            <span><strong>ID:</strong> 172-35-2149</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <span><strong>Email:</strong> ashiqur35-2149@diu.edu.bd</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <span><strong>Cell:</strong> 01797174800</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <span><strong>Semester:</strong> Summer-20</span></a>
        </li>
        <hr>
        <li class="nav-item active">
          <a class="nav-link" href="index.html">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            <span>Teacher Information</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span><strong>Name:</strong> Mr. Md. Shohel Arman</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-compress" aria-hidden="true"></i>
            <span><strong>Teacher Initia:</strong> MMSA</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-id-card" aria-hidden="true"></i>
            <span><strong>Employee ID:</strong> 710002084</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <span><strong>Email:</strong> arman.swe@diu.edu.bd</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <span><strong>Cell:</strong> +8801673383289</span></a>
        </li>
      </ul>
{% endblock %}